*{
    margin: 0; padding: 0; box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: #faf7f2;
}

/* NAVBAR STYLING */

nav{
    display: grid;
    place-items: center;
    background-color: rgb(127 68 68);
}
nav h2{
    text-transform: uppercase;
    color: #faf7f2;
    font-family: auto;
    line-height: 4.3rem;
    font-size: 2.2rem;
}

/* FILTERS SECTION STYLING */

section.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
    justify-content: center;
    margin: 4rem 0 6rem;
}
section.filters fieldset{
    border-radius: 1rem 4rem;
}

section.filters fieldset legend{
    text-align: center;
    font-family: math;
    font-size: 1.9rem;
    font-weight: bold;

}
section.filters div.filters{
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    margin-top: 1rem;
    padding: 0.6rem;   
}

div.filters h3{
    font-size: 1.33rem;
    line-height: 1.8rem;
}

div.filters div.filterByRisk,div.filterByMinInvestment{
    width: 19rem;
    height: 8.5rem;
    margin: 0 1.8rem;
    }

div.filters div.radioButtons{
    margin: 0.4rem 0 0 1rem;
    font-size: 1.2rem;
}
div.filters input[type="radio"]{
    width: 0.9rem;
    height: 0.9rem;
}


/* FUNDS SECTION STYLING */

div.container{
    display: grid;
    grid-template-columns: repeat(2,minmax(20rem,31rem));
    row-gap: 5rem;
    justify-content: space-evenly;
    margin-bottom: 2rem ;
}
div.card{
    height: 16rem;
    width: 31rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0.9rem darkgrey;
}

div.card h3.title img{
    width: 1.1rem;
}

div.card h3.title {
    align-self: flex-start;
    margin: 0 0.4rem;
    font-size: 1.38rem;
}

div.card div.details{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 1rem 0;
}
div.card div.details div.detailsUpper{
    display: flex;
}

div.card div.details div.detailsUpper div.detail,div.detailsLower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.2rem dimgrey;
    font-size: 1.12rem;
}
p.detailValue {
    font-weight: 700;
}

div.card button{
    text-transform: uppercase;
    padding: 0.2rem;
    border-radius: 0.9rem;
    background-color: darkseagreen;
    align-self: flex-end;
}
div.card button:hover,div.errorMsg button:hover{
    transform: scale(0.9);
    background-color: #faf7f2;
    cursor: pointer;
    border: 2px solid black;
}

/* ERROR SECTION STYLING */

div.errorMsg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
} 

div.errorMsg button{
    padding: 0.2rem;
    border-radius: 0.9rem;
    background-color: darkseagreen;
    font-size: 1.2rem;
    font-family: ui-serif;
}


/* RESPONSIVE DESIGN */

@media all and (max-width:1150px) {
    html{
        font-size: 15px;
    }
    
}

@media all and (max-width:1050px) {
    html{
        font-size: 14px;
    }
    
}

@media all and (max-width:995px) {
    
    div.container{
        grid-template-columns: 31rem
    }
    
}

@media all and (max-width:710px) {

    section.filters{
       margin: 3rem 0 4rem;
    }

    section.filters div.filters{
        flex-direction: column;
    }    
}

@media all and (max-width:465px){

    html{
        font-size: 13px;
    }
}

@media all and (max-width:430px){

    html{
        font-size: 12px;
    }
}
@media all and (max-width:385px){

    html{
        font-size: 11px;
    }
}
@media all and (max-width:355px){

    html{
        font-size: 10px;
    }
}
@media all and (max-width:322px){

    html{
        font-size: 8.5px;
    }
}


